<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.categories.mapper.CategoriesMapper">
    
    <resultMap type="Categories" id="CategoriesResult">
        <result property="categoryId"    column="category_id"    />
        <result property="categoryNameCn"    column="category_name_cn"    />
        <result property="categoryNameEn"    column="category_name_en"    />
        <result property="parentId"    column="parent_id"    />
        <result property="categoryLevel"    column="category_level"    />
    </resultMap>

    <sql id="selectCategoriesVo">
        select category_id, category_name_cn, category_name_en, parent_id, category_level from categories
    </sql>

    <select id="selectCategoriesList" parameterType="Categories" resultMap="CategoriesResult">
        <include refid="selectCategoriesVo"/>
        <where>  
            <if test="categoryNameCn != null  and categoryNameCn != ''"> and category_name_cn = #{categoryNameCn}</if>
            <if test="categoryNameEn != null  and categoryNameEn != ''"> and category_name_en = #{categoryNameEn}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="categoryLevel != null "> and category_level = #{categoryLevel}</if>
        </where>
    </select>
    
    <select id="selectCategoriesByCategoryId" parameterType="Long" resultMap="CategoriesResult">
        <include refid="selectCategoriesVo"/>
        where category_id = #{categoryId}
    </select>

    <insert id="insertCategories" parameterType="Categories" useGeneratedKeys="true" keyProperty="categoryId">
        insert into categories
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryNameCn != null and categoryNameCn != ''">category_name_cn,</if>
            <if test="categoryNameEn != null and categoryNameEn != ''">category_name_en,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="categoryLevel != null">category_level,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryNameCn != null and categoryNameCn != ''">#{categoryNameCn},</if>
            <if test="categoryNameEn != null and categoryNameEn != ''">#{categoryNameEn},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="categoryLevel != null">#{categoryLevel},</if>
         </trim>
    </insert>

    <update id="updateCategories" parameterType="Categories">
        update categories
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryNameCn != null and categoryNameCn != ''">category_name_cn = #{categoryNameCn},</if>
            <if test="categoryNameEn != null and categoryNameEn != ''">category_name_en = #{categoryNameEn},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="categoryLevel != null">category_level = #{categoryLevel},</if>
        </trim>
        where category_id = #{categoryId}
    </update>

    <delete id="deleteCategoriesByCategoryId" parameterType="Long">
        delete from categories where category_id = #{categoryId}
    </delete>

    <delete id="deleteCategoriesByCategoryIds" parameterType="String">
        delete from categories where category_id in 
        <foreach item="categoryId" collection="array" open="(" separator="," close=")">
            #{categoryId}
        </foreach>
    </delete>
</mapper>