<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.aliexpress.mapper.AliexpressMabangOrderDataListMapper">
    
    <resultMap type="AliexpressMabangOrderDataList" id="AliexpressMabangOrderDataListResult">
        <result property="sId"    column="s_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="category"    column="category"    />
        <result property="paymentTime"    column="payment_time"    />
        <result property="store"    column="store"    />
        <result property="country"    column="country"    />
        <result property="weight"    column="weight"    />
        <result property="skuDetails"    column="sku_details"    />
        <result property="skuQuantity"    column="sku_quantity"    />
        <result property="totalProductWeight"    column="total_product_weight"    />
        <result property="totalOrderAmount"    column="total_order_amount"    />
        <result property="actualShipping"    column="actual_shipping"    />
        <result property="shippingRevenue"    column="shipping_revenue"    />
        <result property="adCostRmb"    column="ad_cost_rmb"    />
        <result property="platformFeeRmb"    column="platform_fee_rmb"    />
        <result property="vatFeeRmb"    column="vat_fee_rmb"    />
        <result property="logisticsCompensation"    column="logistics_compensation"    />
        <result property="semiManagedCompensation"    column="semi_managed_compensation"    />
        <result property="actualRefund"    column="actual_refund"    />
        <result property="clearanceSubsidy"    column="clearance_subsidy"    />
        <result property="orderProfit"    column="order_profit"    />
        <result property="orderProfitRate"    column="order_profit_rate"    />
        <result property="actualProfit"    column="actual_profit"    />
        <result property="actualProfitRate"    column="actual_profit_rate"    />
        <result property="transactionId"    column="transaction_id"    />
        <result property="skuInfo"    column="sku_info"    />
    </resultMap>



    <resultMap type="AliexpressFinancialRecord" id="AliexpressFinancialRecord">
        <result property="store"    column="store"    />
        <result property="tradeOrderId"    column="trade_order_id"    />
        <result property="amount"    column="amount"    />
        <result property="feeItem"    column="fee_item"    />
        <result property="remark"    column="remark"    />
        <result property="expenseAccount"    column="expense_account"    />
        <result property="incomeAccount"    column="income_account"    />
        <result property="platformTransactionId"    column="platform_transaction_id"    />
    </resultMap>




    <sql id="selectAliexpressMabangOrderDataListVo">
        select s_id,transaction_id,sku_info, order_id, category, payment_time, store, country, weight, sku_details, sku_quantity, total_product_weight, total_order_amount, actual_shipping, shipping_revenue, ad_cost_rmb, platform_fee_rmb, vat_fee_rmb, logistics_compensation, semi_managed_compensation, actual_refund, clearance_subsidy, order_profit, order_profit_rate, actual_profit, actual_profit_rate from aliexpress_mabang_order_data_list
    </sql>

    <select id="selectAliexpressMabangOrderDataListList" parameterType="AliexpressMabangOrderDataList" resultMap="AliexpressMabangOrderDataListResult">
        <include refid="selectAliexpressMabangOrderDataListVo"/>
        <where>  
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
            <if test="category != null  and category != ''"> and category = #{category}</if>
            <if test="paymentTime != null "> and payment_time = #{paymentTime}</if>
            <if test="store != null  and store != ''"> and store = #{store}</if>
            <if test="country != null  and country != ''"> and country = #{country}</if>
            <if test="weight != null "> and weight = #{weight}</if>
            <if test="skuDetails != null  and skuDetails != ''"> and sku_details = #{skuDetails}</if>
            <if test="skuQuantity != null "> and sku_quantity = #{skuQuantity}</if>
            <if test="totalProductWeight != null "> and total_product_weight = #{totalProductWeight}</if>
            <if test="totalOrderAmount != null "> and total_order_amount = #{totalOrderAmount}</if>
            <if test="actualShipping != null "> and actual_shipping = #{actualShipping}</if>
            <if test="shippingRevenue != null "> and shipping_revenue = #{shippingRevenue}</if>
            <if test="adCostRmb != null "> and ad_cost_rmb = #{adCostRmb}</if>
            <if test="platformFeeRmb != null "> and platform_fee_rmb = #{platformFeeRmb}</if>
            <if test="vatFeeRmb != null "> and vat_fee_rmb = #{vatFeeRmb}</if>
            <if test="logisticsCompensation != null "> and logistics_compensation = #{logisticsCompensation}</if>
            <if test="semiManagedCompensation != null "> and semi_managed_compensation = #{semiManagedCompensation}</if>
            <if test="actualRefund != null "> and actual_refund = #{actualRefund}</if>
            <if test="clearanceSubsidy != null  and clearanceSubsidy != ''"> and clearance_subsidy = #{clearanceSubsidy}</if>
            <if test="orderProfit != null "> and order_profit = #{orderProfit}</if>
            <if test="orderProfitRate != null "> and order_profit_rate = #{orderProfitRate}</if>
            <if test="actualProfit != null "> and actual_profit = #{actualProfit}</if>
            <if test="actualProfitRate != null "> and actual_profit_rate = #{actualProfitRate}</if>
        </where>
    </select>
    
    <select id="selectAliexpressMabangOrderDataListBySId" parameterType="Long" resultMap="AliexpressMabangOrderDataListResult">
        <include refid="selectAliexpressMabangOrderDataListVo"/>
        where s_id = #{sId}
    </select>

    <insert id="insertAliexpressMabangOrderDataList" parameterType="AliexpressMabangOrderDataList" useGeneratedKeys="true" keyProperty="sId">
        insert into aliexpress_mabang_order_data_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="category != null">category,</if>
            <if test="paymentTime != null">payment_time,</if>
            <if test="store != null">store,</if>
            <if test="country != null">country,</if>
            <if test="weight != null">weight,</if>
            <if test="skuDetails != null">sku_details,</if>
            <if test="skuQuantity != null">sku_quantity,</if>
            <if test="totalProductWeight != null">total_product_weight,</if>
            <if test="totalOrderAmount != null">total_order_amount,</if>
            <if test="actualShipping != null">actual_shipping,</if>
            <if test="shippingRevenue != null">shipping_revenue,</if>
            <if test="adCostRmb != null">ad_cost_rmb,</if>
            <if test="platformFeeRmb != null">platform_fee_rmb,</if>
            <if test="vatFeeRmb != null">vat_fee_rmb,</if>
            <if test="logisticsCompensation != null">logistics_compensation,</if>
            <if test="semiManagedCompensation != null">semi_managed_compensation,</if>
            <if test="actualRefund != null">actual_refund,</if>
            <if test="clearanceSubsidy != null">clearance_subsidy,</if>
            <if test="orderProfit != null">order_profit,</if>
            <if test="orderProfitRate != null">order_profit_rate,</if>
            <if test="actualProfit != null">actual_profit,</if>
            <if test="actualProfitRate != null">actual_profit_rate,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="category != null">#{category},</if>
            <if test="paymentTime != null">#{paymentTime},</if>
            <if test="store != null">#{store},</if>
            <if test="country != null">#{country},</if>
            <if test="weight != null">#{weight},</if>
            <if test="skuDetails != null">#{skuDetails},</if>
            <if test="skuQuantity != null">#{skuQuantity},</if>
            <if test="totalProductWeight != null">#{totalProductWeight},</if>
            <if test="totalOrderAmount != null">#{totalOrderAmount},</if>
            <if test="actualShipping != null">#{actualShipping},</if>
            <if test="shippingRevenue != null">#{shippingRevenue},</if>
            <if test="adCostRmb != null">#{adCostRmb},</if>
            <if test="platformFeeRmb != null">#{platformFeeRmb},</if>
            <if test="vatFeeRmb != null">#{vatFeeRmb},</if>
            <if test="logisticsCompensation != null">#{logisticsCompensation},</if>
            <if test="semiManagedCompensation != null">#{semiManagedCompensation},</if>
            <if test="actualRefund != null">#{actualRefund},</if>
            <if test="clearanceSubsidy != null">#{clearanceSubsidy},</if>
            <if test="orderProfit != null">#{orderProfit},</if>
            <if test="orderProfitRate != null">#{orderProfitRate},</if>
            <if test="actualProfit != null">#{actualProfit},</if>
            <if test="actualProfitRate != null">#{actualProfitRate},</if>
         </trim>
    </insert>

    <update id="updateAliexpressMabangOrderDataList" parameterType="AliexpressMabangOrderDataList">
        update aliexpress_mabang_order_data_list
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="category != null">category = #{category},</if>
            <if test="paymentTime != null">payment_time = #{paymentTime},</if>
            <if test="store != null">store = #{store},</if>
            <if test="country != null">country = #{country},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="skuDetails != null">sku_details = #{skuDetails},</if>
            <if test="skuQuantity != null">sku_quantity = #{skuQuantity},</if>
            <if test="totalProductWeight != null">total_product_weight = #{totalProductWeight},</if>
            <if test="totalOrderAmount != null">total_order_amount = #{totalOrderAmount},</if>
            <if test="actualShipping != null">actual_shipping = #{actualShipping},</if>
            <if test="shippingRevenue != null">shipping_revenue = #{shippingRevenue},</if>
            <if test="adCostRmb != null">ad_cost_rmb = #{adCostRmb},</if>
            <if test="platformFeeRmb != null">platform_fee_rmb = #{platformFeeRmb},</if>
            <if test="vatFeeRmb != null">vat_fee_rmb = #{vatFeeRmb},</if>
            <if test="logisticsCompensation != null">logistics_compensation = #{logisticsCompensation},</if>
            <if test="semiManagedCompensation != null">semi_managed_compensation = #{semiManagedCompensation},</if>
            <if test="actualRefund != null">actual_refund = #{actualRefund},</if>
            <if test="clearanceSubsidy != null">clearance_subsidy = #{clearanceSubsidy},</if>
            <if test="orderProfit != null">order_profit = #{orderProfit},</if>
            <if test="orderProfitRate != null">order_profit_rate = #{orderProfitRate},</if>
            <if test="actualProfit != null">actual_profit = #{actualProfit},</if>
            <if test="actualProfitRate != null">actual_profit_rate = #{actualProfitRate},</if>
        </trim>
        where s_id = #{sId}
    </update>

    <delete id="deleteAliexpressMabangOrderDataListBySId" parameterType="Long">
        delete from aliexpress_mabang_order_data_list where s_id = #{sId}
    </delete>

    <delete id="deleteAliexpressMabangOrderDataListBySIds" parameterType="String">
        delete from aliexpress_mabang_order_data_list where s_id in 
        <foreach item="sId" collection="array" open="(" separator="," close=")">
            #{sId}
        </foreach>
    </delete>

    <select id="getTotalLogisticsCompensation" resultType="AliexpressFinancialRecord">
        SELECT amount
        FROM aliexpress_logistics_compensation
        WHERE tran_order_ids = #{orderId}

    </select>


    <select id="getRecordsByTransactionId" parameterType="String"  resultType="AliexpressFinancialRecord">
        SELECT amount
        FROM aliexpress_income_expense_records
        WHERE trade_order_id = #{transactionId} and fee_item='Semi Choice compensation';
    </select>

    <select id="getTotalRefundAmountByOrderId" resultType="java.math.BigDecimal">
        SELECT SUM(amount) FROM aliexpress_order_recharge_records WHERE order_no =#{order}  and refund_from='After sale'
    </select>

    <select id="countBySku" resultType="int">
        SELECT COUNT(1) FROM aliexpress_clearance_list WHERE sku = #{sku}
    </select>

</mapper>