<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.aliexpress.mapper.AliexpressCompetitionAnalysisMapper">
    
    <resultMap type="AliexpressCompetitionAnalysis" id="AliexpressCompetitionAnalysisResult">
        <result property="sId"    column="s_id"    />
        <result property="sku"    column="sku"    />
        <result property="skuPerson"    column="sku_person"    />
<!--        <result property="orderType"    column="order_type"    />-->
<!--        <result property="publicationId"    column="publication_id"    />-->
        <result property="publicationIdPop"    column="publication_id_pop"    />
        <result property="publicationIdAll"    column="publication_id_all"    />
        <result property="publicationIdHalf"    column="publication_id_half"    />
        <result property="taskTime"    column="task_time"    />
        <result property="link"    column="link"    />
        <result property="crawlStatus"    column="crawl_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="picture"    column="picture"    />
        <result property="skuStatus"    column="sku_status"    />
    </resultMap>

    <sql id="selectAliexpressCompetitionAnalysisVo">
        select s_id, sku,sku_person,publication_id_all,publication_id_pop,publication_id_half,task_time,link, crawl_status, create_time,picture,sku_status from aliexpress_competition_analysis
    </sql>

    <select id="selectAliexpressCompetitionAnalysisList" parameterType="AliexpressCompetitionAnalysis" resultMap="AliexpressCompetitionAnalysisResult">
        <include refid="selectAliexpressCompetitionAnalysisVo"/>
        <where>  
            <if test="sku != null  and sku != ''"> and sku = #{sku}</if>
<!--            <if test="publicationId != null  and publicationId != ''"> and publication_id = #{publicationId}</if>-->
<!--            <if test="orderType != null  and orderType != ''"> and order_type = #{orderType}</if>-->
            <if test="skuPerson != null  and skuPerson != ''"> and sku_person = #{skuPerson}</if>
            <if test="publicationIdPop != null  and publicationIdPop != ''"> and publication_id_pop = #{publicationIdPop}</if>
            <if test="publicationIdAll != null  and publicationIdAll != ''"> and publication_id_all = #{publicationIdAll}</if>
            <if test="publicationIdHalf != null  and publicationIdHalf != ''"> and publication_id_half = #{publicationIdHalf}</if>
            <if test="link != null  and link != ''"> and link = #{link}</if>
            <if test="crawlStatus != null  and crawlStatus != ''"> and crawl_status = #{crawlStatus}</if>
            <if test="taskTime != null  and taskTime != ''"> and task_time = #{taskTime}</if>

        </where>
    </select>
    
    <select id="selectAliexpressCompetitionAnalysisBySId" parameterType="Long" resultMap="AliexpressCompetitionAnalysisResult">
        <include refid="selectAliexpressCompetitionAnalysisVo"/>
        where s_id = #{sId}
    </select>

    <insert id="insertAliexpressCompetitionAnalysis" parameterType="AliexpressCompetitionAnalysis" useGeneratedKeys="true" keyProperty="sId">
        insert into aliexpress_competition_analysis
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sku != null">sku,</if>
<!--            <if test="publicationId != null">publication_id,</if>-->
<!--            <if test="orderType != null">order_type,</if>-->
            <if test="skuPerson != null">sku_person,</if>
            <if test="publicationIdPop != null">publication_id_pop,</if>
            <if test="publicationIdAll != null">publication_id_all,</if>
            <if test="publicationIdHalf != null">publication_id_half,</if>
            <if test="link != null">link,</if>
            <if test="crawlStatus != null">crawl_status,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sku != null">#{sku},</if>
<!--            <if test="publicationId != null">#{publicationId},</if>-->
<!--            <if test="orderType != null">#{orderType},</if>-->
            <if test="skuPerson != null">#{skuPerson},</if>
            <if test="publicationIdPop != null">#{publicationIdPop},</if>
            <if test="publicationIdAll != null">#{publicationIdAll},</if>
            <if test="publicationIdHalf != null">#{publicationIdHalf},</if>
            <if test="link != null">#{link},</if>
            <if test="crawlStatus != null">#{crawlStatus},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateAliexpressCompetitionAnalysis" parameterType="AliexpressCompetitionAnalysis">
        update aliexpress_competition_analysis
        <trim prefix="SET" suffixOverrides=",">
            <if test="sku != null">sku = #{sku},</if>
<!--            <if test="publicationId != null">publication_id = #{publicationId},</if>-->
<!--            <if test="orderType != null">order_type = #{orderType},</if>-->
            <if test="skuPerson != null">sku_person = #{skuPerson},</if>
            <if test="publicationIdPop != null">publication_id_pop = #{publicationIdPop},</if>
            <if test="publicationIdAll != null">publication_id_all = #{publicationIdAll},</if>
            <if test="publicationIdHalf != null">publication_id_half = #{publicationIdHalf},</if>

            <if test="link != null">link = #{link},</if>
            <if test="crawlStatus != null">crawl_status = #{crawlStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where s_id = #{sId}
    </update>
    <update id="updateSkuDailyTaskUnfinished" parameterType="map">
        UPDATE aliexpress_competition_analysis
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskTime != null">task_time = #{taskTime},</if>
            <if test="responsiblePerson != null">sku_person = #{responsiblePerson},</if>
        </trim>
        WHERE sku IN
        <foreach item="sku" index="index" collection="skus" open="(" separator="," close=")">
            #{sku}
        </foreach>
    </update>



    <delete id="deleteAliexpressCompetitionAnalysisBySId" parameterType="Long">
        delete from aliexpress_competition_analysis where s_id = #{sId}
    </delete>

    <delete id="deleteAliexpressCompetitionAnalysisBySIds" parameterType="String">
        delete from aliexpress_competition_analysis where s_id in 
        <foreach item="sId" collection="array" open="(" separator="," close=")">
            #{sId}
        </foreach>
    </delete>
</mapper>