<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.aliexpress.mapper.AliexpressToolIndicatorsAutoMapper">
    
    <resultMap type="AliexpressToolIndicatorsAuto" id="AliexpressToolIndicatorsAutoResult">
        <result property="shopName"    column="shop_name"    />
        <result property="shopPerson"    column="shop_person"    />
        <result property="qualityDisputes"    column="quality_disputes"    />
        <result property="PLLogistics"    column="PL_logistics"    />
        <result property="JITWarehousingTimeout"    column="JIT_warehousing_timeout"    />
        <result property="warehouseOverPenalty"    column="warehouse_over_penalty"    />
        <result property="pendingAppeal"    column="pending_appeal"    />
        <result property="outStock"    column="out_stock"    />
        <result property="brokenSize"    column="broken_size"    />
        <result property="ifUpdate"    column="if_update"    />
        <result property="sId"    column="s_id"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectAliexpressToolIndicatorsAutoVo">
        select shop_name, shop_person, quality_disputes, PL_logistics, JIT_warehousing_timeout, warehouse_over_penalty, pending_appeal, out_stock, broken_size, s_id, create_time from aliexpress_tool_indicators_auto
    </sql>

    <select id="selectAliexpressToolIndicatorsAutoList" parameterType="AliexpressToolIndicatorsAuto" resultMap="AliexpressToolIndicatorsAutoResult">
        <include refid="selectAliexpressToolIndicatorsAutoVo"/>
        <where>  
            <if test="shopName != null  and shopName != ''"> and shop_name like concat('%', #{shopName}, '%')</if>
            <if test="shopPerson != null  and shopPerson != ''"> and shop_person = #{shopPerson}</if>
        </where>
    </select>
    
    <select id="selectAliexpressToolIndicatorsAutoBySId" parameterType="Long" resultMap="AliexpressToolIndicatorsAutoResult">
        <include refid="selectAliexpressToolIndicatorsAutoVo"/>
        where s_id = #{sId}
    </select>

    <insert id="insertAliexpressToolIndicatorsAuto" parameterType="AliexpressToolIndicatorsAuto" useGeneratedKeys="true" keyProperty="sId">
        insert into aliexpress_tool_indicators_auto
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopName != null">shop_name,</if>
            <if test="shopPerson != null">shop_person,</if>

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopName != null">#{shopName},</if>
            <if test="shopPerson != null">#{shopPerson},</if>

         </trim>
    </insert>

    <update id="updateAliexpressToolIndicatorsAuto" parameterType="AliexpressToolIndicatorsAuto">
        update aliexpress_tool_indicators_auto
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopName != null">shop_name = #{shopName},</if>
            <if test="shopPerson != null">shop_person = #{shopPerson},</if>

        </trim>
        where s_id = #{sId}
    </update>

    <delete id="deleteAliexpressToolIndicatorsAutoBySId" parameterType="Long">
        delete from aliexpress_tool_indicators_auto where s_id = #{sId}
    </delete>

    <delete id="deleteAliexpressToolIndicatorsAutoBySIds" parameterType="String">
        delete from aliexpress_tool_indicators_auto where s_id in 
        <foreach item="sId" collection="array" open="(" separator="," close=")">
            #{sId}
        </foreach>
    </delete>
</mapper>