<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.aliexpress.mapper.AliexpressSkuAnalysisMapper">

    <resultMap type="AliexpressSkuAnalysis" id="AliexpressSkuAnalysisResult">
        <result property="id" column="id"/>
        <result property="sku" column="sku"/>
        <result property="skuName" column="sku_name"/>
        <result property="weight" column="weight"/>
        <result property="totalPublications" column="total_publications"/>
        <result property="warehouseCost" column="warehouse_cost"/>
        <result property="totalWarehouseCost" column="total_warehouse_cost"/>
        <result property="totalStock" column="total_stock"/>
        <result property="localInTransitQuantity" column="local_in_transit_quantity"/>
        <result property="localAvailableQuantity" column="local_available_quantity"/>
        <result property="backupInTransitQuantity" column="backup_in_transit_quantity"/>
        <result property="halfManagementBackupAvailableQuantity" column="half_management_backup_available_quantity"/>
        <result property="fullManagementBackupAvailableQuantity" column="full_management_backup_available_quantity"/>
        <result property="salesLast7Days" column="sales_last7days"/>
        <result property="salesLast28Days" column="sales_last28days"/>
        <result property="salesLast42Days" column="sales_last42days"/>
        <result property="popDailyMarketCapacity" column="pop_daily_market_capacity"/>
        <result property="fullManagementDailyMarketCapacity" column="full_management_daily_market_capacity"/>
        <result property="halfManagementDailyMarketCapacity" column="half_management_daily_market_capacity"/>
        <result property="competitorHotSalesCountries" column="competitor_hot_sales_countries"/>
        <result property="competitorHotSalesPrice" column="competitor_hot_sales_price"/>
        <result property="marketAveragePrice" column="market_average_price"/>
        <result property="priceComparison" column="price_comparison"/>
        <result property="popOnlineListings" column="pop_online_listings"/>
        <result property="fullManagementOnlineListings" column="full_management_online_listings"/>
        <result property="halfManagementOnlineListings" column="half_management_online_listings"/>
        <result property="recommendedAction" column="recommended_action"/>
        <result property="status" column="status"/>
        <result property="completedAt" column="completed_at"/>
        <result property="operationLog" column="operation_log"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="stockImageUrl" column="stock_image_url"/>
    </resultMap>


    <resultMap type="AliexpressSkuAnalysisAttribute" id="AliexpressSkuAnalysisAttributeResult">
        <result property="sku" column="sku"/>
        <result property="publicationId" column="publication_id"/>
        <result property="attribute" column="attribute"/>
        <result property="price" column="price"/>
        <result property="freight" column="freight"/>
        <result property="monetaryType" column="monetary_type"/>
        <result property="countries" column="countries"/>
    </resultMap>



    <resultMap type="AliexpressSkuStatistics" id="AliexpressSkuStatisticsResult">
        <result property="skuTotal" column="sku_total"/>
        <result property="totalWarehouse" column="total_warehouse"/>
        <result property="totalWarehouseCost" column="total_warehouse_cost"/>
    </resultMap>



    <sql id="selectAliexpressSkuAnalysisAttributeVo">
        select sku,
               publication_id,
               attribute,
               price,
               freight,
               monetary_type,
               countries
        from aliexpress_competition_information_attribute
    </sql>


    <sql id="selectAliexpressSkuAnalysisVo">
        select id,
               sku,
               total_stock,
               local_in_transit_quantity,
               local_available_quantity,
               backup_in_transit_quantity,
               half_management_backup_available_quantity,
               full_management_backup_available_quantity,
               sales_last7_days,
               sales_last28_days,
               sales_last42_days,
               pop_daily_market_capacity,
               full_management_daily_market_capacity,
               half_management_daily_market_capacity,
               competitor_hot_sales_countries,
               competitor_hot_sales_price,
               market_average_price,
               price_comparison,
               pop_online_listings,
               full_management_online_listings,
               half_management_online_listings,
               recommended_action,
               status,
               completed_at,
               operation_log,
               created_by,
               created_at,
               updated_by,
               updated_at
        from aliexpress_sku_analysis
    </sql>

    <sql id="selectAliexpressSkuAnalysisVoJOIN">
        select asa.id,
               asa.sku,
               asa.total_publications,
               asa.total_stock,
               ROUND(asa.warehouse_cost,2) as warehouse_cost,
               ROUND((COALESCE(asa.total_stock, 0) +
                      COALESCE(asa.local_in_transit_quantity, 0) +
                      COALESCE(pwts.bc_semi_inventory_quantity, 0) +
                      COALESCE(pwts.bc_auto_inventory_quantity, 0) +
                      COALESCE(pwts.bc_transit_quantity, 0))*
                     COALESCE(asa.warehouse_cost, 0),2) AS total_warehouse_cost,
               asa.local_in_transit_quantity,
               asa.local_available_quantity,
               asa.pop_daily_market_capacity,
               asa.half_management_daily_market_capacity,
               asa.full_management_daily_market_capacity,
               asa.competitor_hot_sales_countries,
               asa.competitor_hot_sales_price,
               asa.price_comparison,
               asa.pop_online_listings,
               asa.full_management_online_listings,
               asa.half_management_online_listings,
               asa.recommended_action,
               asa.stock_image_url,
               asa.sku_name,
               asa.weight,
               pwts.bc_transit_quantity  as backup_in_transit_quantity,
               pwts.bc_semi_inventory_quantity  as half_management_backup_available_quantity,
               pwts.bc_auto_inventory_quantity  as full_management_backup_available_quantity
        from aliexpress_sku_analysis as asa
        LEFT JOIN pofit_warehouse_total_statistics pwts ON asa.sku=pwts.sku
    </sql>

    <select id="selectAliexpressSkuAnalysisAttributeList" parameterType="AliexpressSkuAnalysisAttribute" resultMap="AliexpressSkuAnalysisAttributeResult">
        <include refid="selectAliexpressSkuAnalysisAttributeVo"/>
        <where>
        <if test="sku != null  and sku != ''">and sku= #{sku}</if>
        <if test="countries != null  and countries != ''">and countries = #{countries}</if>
        </where>
    </select>



    <select id="selectAliexpressSkuStatistics" parameterType="AliexpressSkuStatistics" resultMap="AliexpressSkuStatisticsResult">
        select
        COUNT(*) AS sku_total,
        SUM(
        ROUND(
        COALESCE(asa.total_stock, 0) +
        COALESCE(asa.local_in_transit_quantity, 0) +
        COALESCE(pwts.bc_semi_inventory_quantity, 0) +
        COALESCE(pwts.bc_auto_inventory_quantity, 0) +
        COALESCE(pwts.bc_transit_quantity, 0),
        2
        )
        ) AS total_warehouse,  -- 计算滞销商品个数
        SUM(
        ROUND(
        (COALESCE(asa.total_stock, 0) +
        COALESCE(asa.local_in_transit_quantity, 0) +
        COALESCE(pwts.bc_semi_inventory_quantity, 0) +
        COALESCE(pwts.bc_auto_inventory_quantity, 0) +
        COALESCE(pwts.bc_transit_quantity, 0)) *
        COALESCE(asa.warehouse_cost, 0),
        2
        )
        ) AS total_warehouse_cost  -- 计算总仓库成本

        from aliexpress_sku_analysis as asa
        LEFT JOIN pofit_warehouse_total_statistics pwts ON asa.sku=pwts.sku
        <where>
        DATE(created_at) = (
        SELECT MAX(DATE(created_at)) FROM aliexpress_sku_analysis
        )
        AND status='正常销售'
        AND sales_last28_days = 0
        AND (
            pwts.bc_semi_inventory_quantity != 0
            OR pwts.bc_auto_inventory_quantity  != 0
            OR total_stock != 0
            )
        AND NOT EXISTS (
        SELECT 1
        FROM aliexpress_mabang_order_list aml
        WHERE aml.sku = asa.sku
        AND aml.payment_time >= CURDATE() - INTERVAL 48 DAY
        )
        AND sku_create_time &lt;= CURDATE() - INTERVAL 30 DAY
        <if test="sku != null and sku != ''">
            and asa.sku like concat('%', #{sku}, '%')
        </if>
        <if test="totalWarehouseCost != null and totalWarehouseCost != ''">
            and asa.total_warehouse_cost > #{totalWarehouseCost}
        </if>



        </where>
    </select>





    <select id="selectAliexpressSkuAnalysisList" parameterType="AliexpressSkuAnalysis"
            resultMap="AliexpressSkuAnalysisResult">
        <include refid="selectAliexpressSkuAnalysisVoJOIN"/>

        <where>
            DATE(created_at) = (
            SELECT MAX(DATE(created_at)) FROM aliexpress_sku_analysis
            )
            AND status='正常销售'
            AND sales_last28_days = 0
            AND (
            pwts.bc_semi_inventory_quantity != 0
            OR pwts.bc_auto_inventory_quantity  != 0
            OR total_stock != 0
            )
            AND NOT EXISTS (
            SELECT 1
            FROM aliexpress_mabang_order_list aml
            WHERE aml.sku = asa.sku
            AND aml.payment_time >= CURDATE() - INTERVAL 48 DAY
            )
            AND sku_create_time &lt;= CURDATE() - INTERVAL 30 DAY
            <if test="sku != null and sku != ''">
                and asa.sku like concat('%', #{sku}, '%')
            </if>
            <if test="totalWarehouseCost != null and totalWarehouseCost != ''">
                and asa.total_warehouse_cost > #{totalWarehouseCost}
            </if>
            <if test="salesLast28Days != null  and salesLast28Days != ''">and sales_last28_days = #{salesLast28Days})</if>
            <if test="params.beginAvailableStock != null and params.beginAvailableStock != '' and params.endAvailableStock != null and params.endAvailableStock != ''">
                and available_stock between #{params.beginAvailableStock} and #{params.endAvailableStock}
            </if>
            <if test="params.beginPopDailyMarketCapacity != null and params.beginPopDailyMarketCapacity != '' and params.endPopDailyMarketCapacity != null and params.endPopDailyMarketCapacity != ''">
                and pop_daily_market_capacity between #{params.beginPopDailyMarketCapacity} and
                #{params.endPopDailyMarketCapacity}
            </if>
            <if test="params.beginFullManagementDailyMarketCapacity != null and params.beginFullManagementDailyMarketCapacity != '' and params.endFullManagementDailyMarketCapacity != null and params.endFullManagementDailyMarketCapacity != ''">
                and full_management_daily_market_capacity between #{params.beginFullManagementDailyMarketCapacity} and
                #{params.endFullManagementDailyMarketCapacity}
            </if>
            <if test="params.beginHalfManagementDailyMarketCapacity != null and params.beginHalfManagementDailyMarketCapacity != '' and params.endHalfManagementDailyMarketCapacity != null and params.endHalfManagementDailyMarketCapacity != ''">
                and half_management_daily_market_capacity between #{params.beginHalfManagementDailyMarketCapacity} and
                #{params.endHalfManagementDailyMarketCapacity}
            </if>
            <if test="competitorHotSalesCountries != null  and competitorHotSalesCountries != ''">and
                competitor_hot_sales_countries like concat('%', #{competitorHotSalesCountries}, '%')
            </if>
            <if test="params.beginCompetitorHotSalesPrice != null and params.beginCompetitorHotSalesPrice != '' and params.endCompetitorHotSalesPrice != null and params.endCompetitorHotSalesPrice != ''">
                and competitor_hot_sales_price between #{params.beginCompetitorHotSalesPrice} and
                #{params.endCompetitorHotSalesPrice}
            </if>
            <if test="params.beginMarketAveragePrice != null and params.beginMarketAveragePrice != '' and params.endMarketAveragePrice != null and params.endMarketAveragePrice != ''">
                and market_average_price between #{params.beginMarketAveragePrice} and #{params.endMarketAveragePrice}
            </if>
            <if test="priceComparison != null  and priceComparison != ''">and price_comparison like concat('%',
                #{priceComparison}, '%')
            </if>
            <if test="params.beginPopOnlineListings != null and params.beginPopOnlineListings != '' and params.endPopOnlineListings != null and params.endPopOnlineListings != ''">
                and pop_online_listings between #{params.beginPopOnlineListings} and #{params.endPopOnlineListings}
            </if>
            <if test="params.beginFullManagementOnlineListings != null and params.beginFullManagementOnlineListings != '' and params.endFullManagementOnlineListings != null and params.endFullManagementOnlineListings != ''">
                and full_management_online_listings between #{params.beginFullManagementOnlineListings} and
                #{params.endFullManagementOnlineListings}
            </if>
            <if test="params.beginHalfManagementOnlineListings != null and params.beginHalfManagementOnlineListings != '' and params.endHalfManagementOnlineListings != null and params.endHalfManagementOnlineListings != ''">
                and half_management_online_listings between #{params.beginHalfManagementOnlineListings} and
                #{params.endHalfManagementOnlineListings}
            </if>
            <if test="recommendedAction != null  and recommendedAction != ''">and recommended_action like concat('%',
                #{recommendedAction}, '%')
            </if>
            <if test="status != null  and status != ''">and status like concat('%', #{status}, '%')</if>
            <if test="params.beginCompletedAt != null and params.beginCompletedAt != '' and params.endCompletedAt != null and params.endCompletedAt != ''">
                and completed_at between #{params.beginCompletedAt} and #{params.endCompletedAt}
            </if>
            <if test="operationLog != null  and operationLog != ''">and operation_log like concat('%', #{operationLog},
                '%')
            </if>
        </where>
    </select>

    <select id="selectAliexpressSkuAnalysisById" parameterType="Long" resultMap="AliexpressSkuAnalysisResult">
        <include refid="selectAliexpressSkuAnalysisVo"/>
        where id = #{id}
    </select>

    <insert id="insertAliexpressSkuAnalysis" parameterType="AliexpressSkuAnalysis" useGeneratedKeys="true"
            keyProperty="id">
        insert into aliexpress_sku_analysis
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sku != null and sku != ''">sku,</if>
            <if test="availableStock != null">available_stock,</if>
            <if test="popDailyMarketCapacity != null">pop_daily_market_capacity,</if>
            <if test="fullManagementDailyMarketCapacity != null">full_management_daily_market_capacity,</if>
            <if test="halfManagementDailyMarketCapacity != null">half_management_daily_market_capacity,</if>
            <if test="competitorHotSalesCountries != null">competitor_hot_sales_countries,</if>
            <if test="competitorHotSalesPrice != null">competitor_hot_sales_price,</if>
            <if test="marketAveragePrice != null">market_average_price,</if>
            <if test="priceComparison != null">price_comparison,</if>
            <if test="popOnlineListings != null">pop_online_listings,</if>
            <if test="fullManagementOnlineListings != null">full_management_online_listings,</if>
            <if test="halfManagementOnlineListings != null">half_management_online_listings,</if>
            <if test="recommendedAction != null">recommended_action,</if>
            <if test="status != null">status,</if>
            <if test="completedAt != null">completed_at,</if>
            <if test="operationLog != null">operation_log,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="updatedAt != null">updated_at,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sku != null and sku != ''">#{sku},</if>
            <if test="availableStock != null">#{availableStock},</if>
            <if test="popDailyMarketCapacity != null">#{popDailyMarketCapacity},</if>
            <if test="fullManagementDailyMarketCapacity != null">#{fullManagementDailyMarketCapacity},</if>
            <if test="halfManagementDailyMarketCapacity != null">#{halfManagementDailyMarketCapacity},</if>
            <if test="competitorHotSalesCountries != null">#{competitorHotSalesCountries},</if>
            <if test="competitorHotSalesPrice != null">#{competitorHotSalesPrice},</if>
            <if test="marketAveragePrice != null">#{marketAveragePrice},</if>
            <if test="priceComparison != null">#{priceComparison},</if>
            <if test="popOnlineListings != null">#{popOnlineListings},</if>
            <if test="fullManagementOnlineListings != null">#{fullManagementOnlineListings},</if>
            <if test="halfManagementOnlineListings != null">#{halfManagementOnlineListings},</if>
            <if test="recommendedAction != null">#{recommendedAction},</if>
            <if test="status != null">#{status},</if>
            <if test="completedAt != null">#{completedAt},</if>
            <if test="operationLog != null">#{operationLog},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
        </trim>
    </insert>

    <update id="updateAliexpressSkuAnalysis" parameterType="AliexpressSkuAnalysis">
        update aliexpress_sku_analysis
        <trim prefix="SET" suffixOverrides=",">
            <if test="sku != null and sku != ''">sku = #{sku},</if>
            <if test="availableStock != null">available_stock = #{availableStock},</if>
            <if test="popDailyMarketCapacity != null">pop_daily_market_capacity = #{popDailyMarketCapacity},</if>
            <if test="fullManagementDailyMarketCapacity != null">full_management_daily_market_capacity =
                #{fullManagementDailyMarketCapacity},
            </if>
            <if test="halfManagementDailyMarketCapacity != null">half_management_daily_market_capacity =
                #{halfManagementDailyMarketCapacity},
            </if>
            <if test="competitorHotSalesCountries != null">competitor_hot_sales_countries =
                #{competitorHotSalesCountries},
            </if>
            <if test="competitorHotSalesPrice != null">competitor_hot_sales_price = #{competitorHotSalesPrice},</if>
            <if test="marketAveragePrice != null">market_average_price = #{marketAveragePrice},</if>
            <if test="priceComparison != null">price_comparison = #{priceComparison},</if>
            <if test="popOnlineListings != null">pop_online_listings = #{popOnlineListings},</if>
            <if test="fullManagementOnlineListings != null">full_management_online_listings =
                #{fullManagementOnlineListings},
            </if>
            <if test="halfManagementOnlineListings != null">half_management_online_listings =
                #{halfManagementOnlineListings},
            </if>
            <if test="recommendedAction != null">recommended_action = #{recommendedAction},</if>
            <if test="status != null">status = #{status},</if>
            <if test="completedAt != null">completed_at = #{completedAt},</if>
            <if test="operationLog != null">operation_log = #{operationLog},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAliexpressSkuAnalysisById" parameterType="Long">
        delete
        from aliexpress_sku_analysis
        where id = #{id}
    </delete>

    <delete id="deleteAliexpressSkuAnalysisByIds" parameterType="String">
        delete from aliexpress_sku_analysis where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>