<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.aliexpress.mapper.AliexpressToolIndicatorsMapper">
    
    <resultMap type="AliexpressToolIndicators" id="AliexpressToolIndicatorsResult">
        <result property="shopName"    column="shop_name"    />
        <result property="shopPerson"    column="shop_person"    />
        <result property="contraryOrderNum"    column="contrary_order_num"    />
        <result property="illegalInfringement"    column="illegal_infringement"    />
        <result property="warehousTimeoutJit"    column="warehous_timeout_jit"    />
        <result property="heavyRulerDispute"    column="heavy_ruler_dispute"    />
        <result property="unshippedOrders24"    column="unshipped_orders_24"    />
        <result property="orderExceptionJit"    column="order_exception_jit"    />
        <result property="soldOut"    column="sold_out"    />
        <result property="type"    column="type"    />
        <result property="sId"    column="s_id"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectAliexpressToolIndicatorsVo">
        select shop_name, shop_person, contrary_order_num, illegal_infringement, warehous_timeout_jit, heavy_ruler_dispute, unshipped_orders_24, order_exception_jit,sold_out,s_id, create_time from aliexpress_tool_indicators
    </sql>

    <select id="selectAliexpressToolIndicatorsList" parameterType="AliexpressToolIndicators" resultMap="AliexpressToolIndicatorsResult">
        <include refid="selectAliexpressToolIndicatorsVo"/>
        <where>  
            <if test="shopName != null  and shopName != ''"> and shop_name like concat('%', #{shopName}, '%')</if>
            <if test="shopPerson != null  and shopPerson != ''"> and shop_person = #{shopPerson}</if>
            <if test="contraryOrderNum != null  and contraryOrderNum != ''"> and contrary_order_num = #{contraryOrderNum}</if>
            <if test="illegalInfringement != null  and illegalInfringement != ''"> and illegal_infringement = #{illegalInfringement}</if>
            <if test="warehousTimeoutJit != null  and warehousTimeoutJit != ''"> and warehous_timeout_jit = #{warehousTimeoutJit}</if>
            <if test="heavyRulerDispute != null  and heavyRulerDispute != ''"> and heavy_ruler_dispute = #{heavyRulerDispute}</if>
            <if test="unshippedOrders24 != null  and unshippedOrders24 != ''"> and unshipped_orders_24 = #{unshippedOrders24}</if>
            <if test="orderExceptionJit != null  and orderExceptionJit != ''"> and order_exception_jit = #{orderExceptionJit}</if>
        </where>
    </select>


    <select id="selectAliexpressToolIndicatorsListShop" parameterType="AliexpressToolIndicators" resultMap="AliexpressToolIndicatorsResult">
        select DISTINCT store_name as shop_name FROM stores_notescrow
        <where>
            <if test="shopPerson != null  and shopPerson != ''"> and store_manager = #{shopPerson}</if>
            <if test="type!=null  and type!= ''"> and type= #{type}</if>
        </where>
    </select>


    <select id="selectAliexpressToolIndicatorsListShopName" parameterType="AliexpressToolIndicators" resultMap="AliexpressToolIndicatorsResult">
        select DISTINCT store_manager as shop_person FROM stores_notescrow

    </select>







    
    <select id="selectAliexpressToolIndicatorsBySId" parameterType="Long" resultMap="AliexpressToolIndicatorsResult">
        <include refid="selectAliexpressToolIndicatorsVo"/>
        where s_id = #{sId}
    </select>

    <insert id="insertAliexpressToolIndicators" parameterType="AliexpressToolIndicators" useGeneratedKeys="true" keyProperty="sId">
        insert into aliexpress_tool_indicators
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopName != null">shop_name,</if>
            <if test="shopPerson != null">shop_person,</if>
            <if test="contraryOrderNum != null">contrary_order_num,</if>
            <if test="illegalInfringement != null">illegal_infringement,</if>
            <if test="warehousTimeoutJit != null">warehous_timeout_jit,</if>
            <if test="heavyRulerDispute != null">heavy_ruler_dispute,</if>
            <if test="unshippedOrders24 != null">unshipped_orders_24,</if>
            <if test="orderExceptionJit != null">order_exception_jit,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopName != null">#{shopName},</if>
            <if test="shopPerson != null">#{shopPerson},</if>
            <if test="contraryOrderNum != null">#{contraryOrderNum},</if>
            <if test="illegalInfringement != null">#{illegalInfringement},</if>
            <if test="warehousTimeoutJit != null">#{warehousTimeoutJit},</if>
            <if test="heavyRulerDispute != null">#{heavyRulerDispute},</if>
            <if test="unshippedOrders24 != null">#{unshippedOrders24},</if>
            <if test="orderExceptionJit != null">#{orderExceptionJit},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateAliexpressToolIndicators" parameterType="AliexpressToolIndicators">
        update aliexpress_tool_indicators
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopName != null">shop_name = #{shopName},</if>
            <if test="shopPerson != null">shop_person = #{shopPerson},</if>
            <if test="contraryOrderNum != null">contrary_order_num = #{contraryOrderNum},</if>
            <if test="illegalInfringement != null">illegal_infringement = #{illegalInfringement},</if>
            <if test="warehousTimeoutJit != null">warehous_timeout_jit = #{warehousTimeoutJit},</if>
            <if test="heavyRulerDispute != null">heavy_ruler_dispute = #{heavyRulerDispute},</if>
            <if test="unshippedOrders24 != null">unshipped_orders_24 = #{unshippedOrders24},</if>
            <if test="orderExceptionJit != null">order_exception_jit = #{orderExceptionJit},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where s_id = #{sId}
    </update>

    <delete id="deleteAliexpressToolIndicatorsBySId" parameterType="Long">
        delete from aliexpress_tool_indicators where s_id = #{sId}
    </delete>

    <delete id="deleteAliexpressToolIndicatorsBySIds" parameterType="String">
        delete from aliexpress_tool_indicators where s_id in 
        <foreach item="sId" collection="array" open="(" separator="," close=")">
            #{sId}
        </foreach>
    </delete>
</mapper>