<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.aliexpress.mapper.BcReserveWarehouseMapper">
    
    <resultMap type="BcReserveWarehouse" id="BcReserveWarehouseResult">
        <result property="sku"    column="sku"    />
        <result property="stockId"    column="stock_id"    />
        <result property="userName"    column="user_name"    />
        <result property="stockWarehouse"    column="stock_warehouse"    />
        <result property="stockName"    column="stock_name"    />
        <result property="warehousePosition"    column="warehouse_position"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="goodsNumber"    column="goods_number"    />
        <result property="shopId"    column="shop_id"    />
        <result property="sendTime"    column="send_time"    />
        <result property="appointmentTime"    column="appointment_time"    />
        <result property="remark"    column="remark"    />
        <result property="box1"    column="box1"    />
        <result property="box2"    column="box2"    />
        <result property="box3"    column="box3"    />
        <result property="box4"    column="box4"    />
        <result property="box5"    column="box5"    />
        <result property="box6"    column="box6"    />
        <result property="box7"    column="box7"    />
        <result property="box8"    column="box8"    />
        <result property="box9"    column="box9"    />
        <result property="box10"    column="box10"    />
        <result property="boxSize"    column="box_size"    />
        <result property="weight"    column="weight"    />
        <result property="lbxOrder"    column="lbx_order"    />
        <result property="externalOrder"    column="external_order"    />
        <result property="sId"    column="s_id"    />
    </resultMap>
    <resultMap id="Map" type="java.util.Map">
        <result column="store_name" property="store_name"/>
        <result column="store_manager" property="store_manager"/>
    </resultMap>



    <sql id="selectBcReserveWarehouseVo">
        select sku,user_name,s_id, stock_id, appointment_time,stock_name,stock_warehouse,send_time,remark,warehouse_position,goods_id,goods_number, shop_id, box1, box2, box3, box4, box5, box6, box7, box8, box9, box10, box_size,external_order,lbx_order,weight from bc_reserve_warehouse
    </sql>




    <select id="selectBcReserveWarehouseListName" parameterType="BcReserveWarehouse" resultMap="BcReserveWarehouseResult">
        <include refid="selectBcReserveWarehouseVo"/>
        <where>
            <if test="stock_name != null  and stock_name != ''"> and stock_name like concat('%', #{stockName}, '%')</if>
        </where>
    </select>

    <select id="selectBcReserveWarehouseShopName" parameterType="String" resultMap="Map">
        select store_name,store_manager from stores_notescrow
        <where>
            <if test="storeManager != null  and storeManager != ''"> and store_manager like concat('%', #{storeManager}, '%')</if>
        </where>
    </select>



    <select id="selectBcReserveWarehouseList" parameterType="BcReserveWarehouse" resultMap="BcReserveWarehouseResult">
        <include refid="selectBcReserveWarehouseVo"/>
        <where>  
            <if test="sku != null  and sku != ''"> and sku like concat('%', #{sku}, '%')</if>
            <if test="stockId != null  and stockId != ''"> and stock_id like concat('%', #{stockId}, '%')</if>
            <if test="stockWarehouse != null  and stockWarehouse != ''"> and stock_warehouse like concat('%', #{stockWarehouse}, '%')</if>
            <if test="stockName != null  and stockName != ''"> and stock_name like concat('%', #{stockName}, '%')</if>
            <if test="userName != null  and userName != ''"> and user_name = #{userName}</if>

            <if test="warehousePosition != null  and warehousePosition != ''"> and warehouse_position like concat('%', #{warehouse_position}, '%')</if>
            <if test="goodsId != null  and goodsId != ''"> and goods_id like concat('%', #{goodsId}, '%')</if>
            <if test="goodsNumber != null  and goodsNumber != ''"> and goods_number like concat('%', #{goodsNumber}, '%')</if>
            <if test="shopId != null  and shopId != ''"> and shop_id like concat('%', #{shopId}, '%')</if>
            <if test="box1 != null  and box1 != ''"> and box1 = #{box1}</if>
            <if test="box2 != null  and box2 != ''"> and box2 = #{box2}</if>
            <if test="box3 != null  and box3 != ''"> and box3 = #{box3}</if>
            <if test="box4 != null  and box4 != ''"> and box4 = #{box4}</if>
            <if test="box5 != null  and box5 != ''"> and box5 = #{box5}</if>
            <if test="box6 != null  and box6 != ''"> and box6 = #{box6}</if>
            <if test="box7 != null  and box7 != ''"> and box7 = #{box7}</if>
            <if test="box8 != null  and box8 != ''"> and box8 = #{box8}</if>
            <if test="box9 != null  and box9 != ''"> and box9 = #{box9}</if>
            <if test="box10 != null  and box10 != ''"> and box10 = #{box10}</if>
            <if test="boxSize != null  and boxSize != ''"> and box_size = #{boxSize}</if>
            <if test="weight != null  and weight != ''"> and weight = #{weight}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectBcReserveWarehouseBySku" parameterType="String" resultMap="BcReserveWarehouseResult">
        <include refid="selectBcReserveWarehouseVo"/>
        where s_id = #{sId}
    </select>

    <insert id="insertBcReserveWarehouse" parameterType="BcReserveWarehouse">
        insert into bc_reserve_warehouse
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sku != null">sku,</if>
            <if test="stockId != null">stock_id,</if>
            <if test="stockWarehouse != null">stock_warehouse,</if>
            <if test="warehousePosition != null">warehouse_position,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="goodsNumber != null">goods_number,</if>
            <if test="shopId != null">shop_id,</if>
            <if test="box1 != null">box1,</if>
            <if test="box2 != null">box2,</if>
            <if test="box3 != null">box3,</if>
            <if test="box4 != null">box4,</if>
            <if test="box5 != null">box5,</if>
            <if test="box6 != null">box6,</if>
            <if test="box7 != null">box7,</if>
            <if test="box8 != null">box8,</if>
            <if test="box9 != null">box9,</if>
            <if test="box10 != null">box10,</if>
            <if test="boxSize != null">box_size,</if>
            <if test="weight != null">weight,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sku != null">#{sku},</if>
            <if test="stockId != null">#{stockId},</if>
            <if test="stockWarehouse != null">#{stockWarehouse},</if>
            <if test="warehousePosition != null">#{warehousePosition},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="goodsNumber != null">#{goodsNumber},</if>
            <if test="shopId != null">#{shopId},</if>
            <if test="box1 != null">#{box1},</if>
            <if test="box2 != null">#{box2},</if>
            <if test="box3 != null">#{box3},</if>
            <if test="box4 != null">#{box4},</if>
            <if test="box5 != null">#{box5},</if>
            <if test="box6 != null">#{box6},</if>
            <if test="box7 != null">#{box7},</if>
            <if test="box8 != null">#{box8},</if>
            <if test="box9 != null">#{box9},</if>
            <if test="box10 != null">#{box10},</if>
            <if test="boxSize != null">#{boxSize},</if>
            <if test="weight != null">#{weight},</if>
         </trim>
    </insert>

    <update id="updateBcReserveWarehouse" parameterType="BcReserveWarehouse">
        update bc_reserve_warehouse
        <trim prefix="SET" suffixOverrides=",">
            <if test="stockId != null">stock_id = #{stockId},</if>
            <if test="stockWarehouse != null">stock_warehouse = #{stockWarehouse},</if>
            <if test="appointmentTime != null">appointment_time = #{appointmentTime},</if>
            <if test="warehousePosition != null">warehouse_position = #{warehousePosition},</if>
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="goodsNumber != null">goods_number = #{goodsNumber},</if>
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="box1 != null">box1 = #{box1},</if>
            <if test="box2 != null">box2 = #{box2},</if>
            <if test="box3 != null">box3 = #{box3},</if>
            <if test="box4 != null">box4 = #{box4},</if>
            <if test="box5 != null">box5 = #{box5},</if>
            <if test="box6 != null">box6 = #{box6},</if>
            <if test="box7 != null">box7 = #{box7},</if>
            <if test="box8 != null">box8 = #{box8},</if>
            <if test="box9 != null">box9 = #{box9},</if>
            <if test="box10 != null">box10 = #{box10},</if>
            <if test="boxSize != null">box_size = #{boxSize},</if>
            <if test="weight != null">weight = #{weight},</if>
        </trim>
        where s_id = #{sId}
    </update>

    <delete id="deleteBcReserveWarehouseBySku" parameterType="String">
        delete from bc_reserve_warehouse where sku = #{sku}
    </delete>

    <delete id="deleteBcReserveWarehouseBySkus" parameterType="String">
        delete from bc_reserve_warehouse where sku in 
        <foreach item="sku" collection="array" open="(" separator="," close=")">
            #{sku}
        </foreach>
    </delete>


    <insert id="insertOrUpdateExcel" parameterType="list">
        INSERT INTO bc_reserve_warehouse (sku,stock_id,stock_warehouse,warehouse_position,goods_id,goods_number,shop_id,box1,box2,box3,box4,box5,box6,box7,box8,box9,box10,box_size,weight) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.sku}, #{item.stockId}, #{item.stockWarehouse},#{item.warehousePosition},#{item.goodsId},#{item.goodsNumber},#{item.shopId},#{item.box1},#{item.box2},#{item.box3},#{item.box4},#{item.box5},#{item.box6},#{item.box7},#{item.box8},#{item.box9},#{item.box10},#{item.boxSize},#{item.weight})
        </foreach>
        ON DUPLICATE KEY UPDATE
        sku=VALUES(sku),
        stock_id = VALUES(stock_id),
        stock_warehouse = VALUES(stock_warehouse),
        warehouse_position = VALUES(warehouse_position),
        goods_id = VALUES(goods_id),
        goods_number = VALUES(goods_number),
        shop_id = VALUES(shop_id),
        box1 = VALUES(box1),
        box2 = VALUES(box2),
        box3 = VALUES(box3),
        box4 = VALUES(box4),
        box5 = VALUES(box5),
        box6 = VALUES(box6),
        box7 = VALUES(box7),
        box8 = VALUES(box8),
        box9 = VALUES(box9),
        box10 = VALUES(box10),
        box_size = VALUES(box_size),
        weight = VALUES(weight)
    </insert>




</mapper>