<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.aliexpress.mapper.KfAnswersClientMapper">



    <resultMap type="KfAnswersClient" id="KfAnswersClientResult">
        <result property="clientId"    column="client_id"    />
        <result property="clientName"    column="client_name"    />
        <result property="clientNumber"    column="client_number"    />
        <result property="email"    column="email"    />
        <result property="avatarUrl"    column="avatar_url"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="storeName"    column="store_name"    />
        <result property="customFieldTwo"    column="custom_field_two"    />
        <result property="customFieldThree"    column="custom_field_three"    />
        <result property="messageContent" column="message_content"/>
    </resultMap>
    <resultMap id="KfAnswersClientResultWithMessage" type="KfAnswersClient">
        <result property="clientId"    column="client_id"    />
        <result property="clientName"    column="client_name"    />
        <result property="clientNumber"    column="client_number"    />
        <result property="email"    column="email"    />
        <result property="avatarUrl"    column="avatar_url"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="storeName"    column="store_name"    />
        <result property="customFieldTwo"    column="custom_field_two"    />
        <result property="customFieldThree"    column="custom_field_three"    />
        <result property="messageContent" column="message_content"/>
        <result property="isRead" column="is_read"/>
    </resultMap>

    <sql id="selectKfAnswersClient">
        select client_id, client_name, client_number, email, avatar_url,created_time, update_time, create_by, update_by, store_name, custom_field_two, custom_field_three from kf_answers_client
    </sql>

    <sql id="selectKfAnswersClientVo">
        select client_id, client_name, client_number, email, avatar_url, latest_message.created_time, latest_message.update_time, create_by, update_by, store_name, custom_field_two, custom_field_three,message_content,latest_message.is_read  from kf_answers_client
    </sql>
    <select id="selectKfAnswersClientList" parameterType="KfAnswersClient" resultMap="KfAnswersClientResultWithMessage">
        <include refid="selectKfAnswersClientVo"/>
        LEFT JOIN (
        -- 找到各个会话中排名为1的数据
        SELECT sender_id, receiver_id, shop_id, message_content, is_read, created_time, update_time, conversation_id
        FROM (
        -- 查询message表中的数据 根据conversation_id 并且按创建时间排序排名
        SELECT sender_id, receiver_id, shop_id, message_content, is_read, created_time, update_time, conversation_id,
        ROW_NUMBER() OVER (PARTITION BY conversation_id, shop_id ORDER BY created_time DESC) AS row_num
        FROM kf_answers_message
        ) AS latest_messages
        -- 只查找排名为第一位的
        WHERE row_num = 1
        ) AS latest_message
        ON (
        kf_answers_client.store_name = latest_message.shop_id
        AND (
        CASE
        -- 如果sender_id为客服的话 那就拼接client_id=receiver_id
        WHEN latest_message.sender_id = '客服' THEN kf_answers_client.client_id = latest_message.receiver_id
        -- 如果否则 那就拼接client_id=sender_id
        ELSE kf_answers_client.client_id = latest_message.sender_id
        END)
        )
        <where>  
            <if test="clientName != null  and clientName != ''"> and client_name like concat('%', #{clientName}, '%')</if>
            <if test="clientNumber != null  and clientNumber != ''"> and client_number like concat('%', #{clientNumber}, '%')</if>
            <if test="email != null  and email != ''"> and email like concat('%', #{email}, '%')</if>
            <if test="avatarUrl != null  and avatarUrl != ''"> and avatar_url = #{avatarUrl}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="storeName != null  and storeName != ''"> and store_name = #{storeName}</if>
            <if test="isRead != null  and isRead != ''"> and is_read = #{isRead}</if>
            <if test="customFieldTwo != null  and customFieldTwo != ''"> and custom_field_two = #{customFieldTwo}</if>
            <if test="customFieldThree != null  and customFieldThree != ''"> and custom_field_three = #{customFieldThree}</if>
        </where>
        ORDER BY created_time DESC -- 添加这一行按照创建时间降序排序，可按需修改为ASC（升序）
    </select>
    
    <select id="selectKfAnswersClientByClientId" parameterType="String" resultMap="KfAnswersClientResult">
        <include refid="selectKfAnswersClient"/>
        where client_id = #{clientId}
    </select>






    <insert id="insertKfAnswersClient" parameterType="KfAnswersClient">
        insert into kf_answers_client
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clientId != null">client_id,</if>
            <if test="clientName != null">client_name,</if>
            <if test="clientNumber != null">client_number,</if>
            <if test="email != null">email,</if>
            <if test="avatarUrl != null">avatar_url,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="storeName != null">store_name,</if>
            <if test="customFieldTwo != null">custom_field_two,</if>
            <if test="customFieldThree != null">custom_field_three,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="clientId != null">#{clientId},</if>
            <if test="clientName != null">#{clientName},</if>
            <if test="clientNumber != null">#{clientNumber},</if>
            <if test="email != null">#{email},</if>
            <if test="avatarUrl != null">#{avatarUrl},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="storeName != null">#{storeName},</if>
            <if test="customFieldTwo != null">#{customFieldTwo},</if>
            <if test="customFieldThree != null">#{customFieldThree},</if>
         </trim>
    </insert>

    <update id="updateKfAnswersClient" parameterType="KfAnswersClient">
        update kf_answers_client
        <trim prefix="SET" suffixOverrides=",">
            <if test="clientName != null">client_name = #{clientName},</if>
            <if test="clientNumber != null">client_number = #{clientNumber},</if>
            <if test="email != null">email = #{email},</if>
            <if test="avatarUrl != null">avatar_url = #{avatarUrl},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="storeName != null">store_name = #{storeName},</if>
            <if test="customFieldTwo != null">custom_field_two = #{customFieldTwo},</if>
            <if test="customFieldThree != null">custom_field_three = #{customFieldThree},</if>
        </trim>
        where client_id = #{clientId}
    </update>

    <delete id="deleteKfAnswersClientByClientId" parameterType="String">
        delete from kf_answers_client where client_id = #{clientId}
    </delete>

    <delete id="deleteKfAnswersClientByClientIds" parameterType="String">
        delete from kf_answers_client where client_id in 
        <foreach item="clientId" collection="array" open="(" separator="," close=")">
            #{clientId}
        </foreach>
    </delete>
</mapper>