<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.aliexpress.mapper.KfAnswersMessageMapper">

    <resultMap id="KfAnswersClientUnreadCountResultMap" type="java.util.Map">
        <result property="clientId" column="client_id" />
        <result property="storeName" column="store_name" />
        <result property="unreadCount" column="unread_count" />
    </resultMap>

    <resultMap type="KfAnswersMessage" id="KfAnswersMessageResult">
        <result property="messageId"    column="message_id"    />
        <result property="senderId"    column="sender_id"    />
        <result property="receiverId"    column="receiver_id"    />
        <result property="shopId"    column="shop_id"    />
        <result property="messageContent"    column="message_content"    />
        <result property="sendTime"    column="send_time"    />
        <result property="isRead"    column="is_read"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="conversationId"    column="conversation_id"    />
        <result property="sendId"    column="send_id"    />
        <result property="avatarUrl"    column="avatar_url"    />
        <result property="messageStatus"    column="message_status"    />
    </resultMap>

    <sql id="selectKfAnswersMessageVo">
        select message_id, sender_id, receiver_id, shop_id, message_content, send_time, is_read, created_time, update_time, create_by, update_by, conversation_id, send_id,message_status from kf_answers_message
    </sql>

    <select id="selectKfAnswersMessageList" parameterType="KfAnswersMessage" resultMap="KfAnswersMessageResult">
        <include refid="selectKfAnswersMessageVo"/>
        <where>  
            <if test="senderId != null  and senderId != ''"> and sender_id = #{senderId}</if>
            <if test="receiverId != null  and receiverId != ''"> and receiver_id = #{receiverId}</if>
            <if test="shopId != null  and shopId != ''"> and shop_id = #{shopId}</if>
            <if test="messageContent != null  and messageContent != ''"> and message_content like concat('%', #{messageContent}, '%')</if>
            <if test="sendTime != null "> and send_time = #{sendTime}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="conversationId != null  and conversationId != ''"> and conversation_id = #{conversationId}</if>
            <if test="sendId != null  and sendId != ''"> and send_id = #{sendId}</if>
            <if test="messageStatus != null  and messageStatus != ''"> and message_status = #{messageStatus}</if>

        </where>
    </select>
    
    <select id="selectKfAnswersMessageByMessageId" parameterType="Map" resultMap="KfAnswersMessageResult">
        select km.message_id, km.sender_id, km.receiver_id, km.shop_id, km.message_content, km.send_time, km.is_read, km.created_time, km.update_time, km.create_by, km.update_by, km.conversation_id, km.send_id,kc.avatar_url
        from kf_answers_message as km
        LEFT JOIN kf_answers_client as kc ON km.sender_id=kc.client_id
        where conversation_id = #{conversationId} and shop_id=#{shopId}
    </select>


    <select id="selectKfAnswersClientUnreadCountOnly" resultMap="KfAnswersClientUnreadCountResultMap">
        SELECT client.client_id, client.store_name, COUNT(message_id) AS unread_count
        FROM kf_answers_client AS client
                 LEFT JOIN kf_answers_message AS message ON client.client_id = message.sender_id AND client.store_name = message.shop_id
        WHERE message.is_read = '未读'
        GROUP BY client.client_id, client.store_name
    </select>

    <insert id="insertKfAnswersMessage" parameterType="KfAnswersMessage">
        insert into kf_answers_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="messageId != null">message_id,</if>
            <if test="senderId != null">sender_id,</if>
            <if test="receiverId != null">receiver_id,</if>
            <if test="shopId != null">shop_id,</if>
            <if test="messageContent != null">message_content,</if>
            <if test="sendTime != null">send_time,</if>
            <if test="isRead != null">is_read,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="conversationId != null">conversation_id,</if>
            <if test="sendId != null">send_id,</if>
            <if test="messageStatus != null">#{message_status},</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="messageId != null">#{messageId},</if>
            <if test="senderId != null">#{senderId},</if>
            <if test="receiverId != null">#{receiverId},</if>
            <if test="shopId != null">#{shopId},</if>
            <if test="messageContent != null">#{messageContent},</if>
            <if test="sendTime != null">#{sendTime},</if>
            <if test="isRead != null">#{isRead},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="conversationId != null">#{conversationId},</if>
            <if test="sendId != null">#{sendId},</if>
            <if test="messageStatus != null">#{messageStatus},</if>
         </trim>
    </insert>

    <update id="updateKfAnswersMessage" parameterType="KfAnswersMessage">
        update kf_answers_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="senderId != null">sender_id = #{senderId},</if>
            <if test="receiverId != null">receiver_id = #{receiverId},</if>
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="messageContent != null">message_content = #{messageContent},</if>
            <if test="sendTime != null">send_time = #{sendTime},</if>
            <if test="isRead != null">is_read = #{isRead},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="conversationId != null">conversation_id = #{conversationId},</if>
            <if test="sendId != null">send_id = #{sendId},</if>
            <if test="messageStatus != null">message_status = #{messageStatus},</if>
        </trim>
        where message_id = #{messageId}
    </update>



    <update id="updateKfAnswersMessageRead" parameterType="KfAnswersMessage">
        update kf_answers_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="isRead != null">is_read =#{isRead},</if>
        </trim>
        where sender_id = #{senderId} and shop_id=#{shopId}
    </update>

    <update id="updateKfAnswersMessageStatus" parameterType="KfAnswersMessage">
        update kf_answers_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="messageStatus != null">message_status =#{messageStatus},</if>
        </trim>
        where conversation_id = #{conversationId} and shop_id=#{shopId}
    </update>



    <delete id="deleteKfAnswersMessageByMessageId" parameterType="String">
        delete from kf_answers_message where message_id = #{messageId}
    </delete>

    <delete id="deleteKfAnswersMessageByMessageIds" parameterType="String">
        delete from kf_answers_message where message_id in 
        <foreach item="messageId" collection="array" open="(" separator="," close=")">
            #{messageId}
        </foreach>
    </delete>
</mapper>