<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.aliexpress.mapper.KfAnswersTemplateMapper">

    <resultMap id="UserOptionsResult" type="com.ruoyi.aliexpress.domain.userOptions">
        <result property="userId" column="user_id" />
        <result property="nickName" column="nick_name" />
    </resultMap>


    <resultMap type="KfAnswersTemplate" id="KfAnswersTemplateResult">
        <result property="sId"    column="s_id"    />
        <result property="sku"    column="sku"    />
        <result property="preQuestions"    column="pre_questions"    />
        <result property="preResponse"    column="pre_response"    />
        <result property="preAskTime"    column="pre_ask_time"    />
        <result property="afterQuestions"    column="after_questions"    />
        <result property="afterResponse"    column="after_response"    />
        <result property="afterAskTime"    column="after_ask_time"    />
        <result property="supplierResponse"    column="supplier_response"    />
        <result property="orderNo"    column="order_no"    />
        <result property="listingId"    column="listing_id"    />
        <result property="storeId"    column="store_id"    />
        <result property="typeQuestion"    column="type_question"    />
        <result property="recorders"    column="recorders"    />
        <result property="expectResults"    column="expect_results"    />
        <result property="expectTime"    column="expect_time"    />
        <result property="processors"    column="processors"    />
        <result property="proceStatus"    column="proce_status"    />
        <result property="finalTreatment"    column="final_treatment"    />
        <result property="remark1"    column="remark1"    />
        <result property="remark2"    column="remark2"    />
        <result property="standardResponses"    column="standard_responses"    />
        <result property="productType"    column="product_type"    />

    </resultMap>

    <sql id="selectKfAnswersTemplateVo">
        select s_id, sku, pre_questions, pre_response, pre_ask_time, after_questions, after_response, after_ask_time, supplier_response, order_no, listing_id, store_id, type_question, recorders, expect_results, expect_time, processors, proce_status, final_treatment, remark1, remark2, standard_responses,product_type from kf_answers_template
    </sql>

    <select id="selectKfAnswersTemplateList" parameterType="KfAnswersTemplate" resultMap="KfAnswersTemplateResult">
        <include refid="selectKfAnswersTemplateVo"/>
        <where>
            <if test="sId != null  and sId != ''"> and s_id = #{sId}</if>
            <if test="sku != null  and sku != ''"> and sku LIKE CONCAT('%',#{sku},'%')</if>
            <if test="preQuestions != null  and preQuestions != ''"> and pre_questions = #{preQuestions}</if>
            <if test="preResponse != null  and preResponse != ''"> and pre_response = #{preResponse}</if>
            <if test="preAskTime != null  and preAskTime != ''"> and pre_ask_time = #{preAskTime}</if>
            <if test="afterQuestions != null  and afterQuestions != ''"> and after_questions = #{afterQuestions}</if>
            <if test="afterResponse != null  and afterResponse != ''"> and after_response = #{afterResponse}</if>
            <if test="afterAskTime != null  and afterAskTime != ''"> and after_ask_time = #{afterAskTime}</if>
            <if test="supplierResponse != null  and supplierResponse != ''"> and supplier_response = #{supplierResponse}</if>
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="listingId != null  and listingId != ''"> and listing_id = #{listingId}</if>
            <if test="storeId != null  and storeId != ''"> and store_id = #{storeId}</if>
            <if test="typeQuestion != null  and typeQuestion != ''"> and type_question = #{typeQuestion}</if>
            <if test="recorders != null  and recorders != ''"> and recorders = #{recorders}</if>
            <if test="expectResults != null  and expectResults != ''"> and expect_results = #{expectResults}</if>
            <if test="expectTime != null  and expectTime != ''"> and expect_time = #{expectTime}</if>
            <!-- 使用 processorsArray 进行 IN 查询 -->
            <if test="processorsArray != null and processorsArray.length > 0">
                and processors IN
                <foreach collection="processorsArray" item="processor" open="(" close=")" separator=",">
                    #{processor}
                </foreach>
            </if>
            <if test="proceStatus != null  and proceStatus != ''"> and proce_status = #{proceStatus}</if>
            <if test="finalTreatment != null  and finalTreatment != ''"> and final_treatment = #{finalTreatment}</if>
            <if test="remark1 != null  and remark1 != ''"> and remark1 = #{remark1}</if>
            <if test="remark2 != null  and remark2 != ''"> and remark2 = #{remark2}</if>
            <if test="standardResponses != null  and standardResponses != ''"> and standard_responses = #{standardResponses}</if>
            <if test="productType != null  and productType != ''"> and product_type = #{productType}</if>
        </where>

    </select>


    <select id="selectKfAnswersTemplateAllList" parameterType="KfAnswersTemplate" resultMap="KfAnswersTemplateResult">
        select DISTINCT type_question from kf_answers_template
    </select>


    <select id="selectKfAnswersProductTypeList" parameterType="KfAnswersTemplate" resultMap="KfAnswersTemplateResult">
        select DISTINCT  product_type from kf_answers_template
    </select>

    <select id="selectKfAnswersFinalTreatmentList" parameterType="KfAnswersTemplate" resultMap="KfAnswersTemplateResult">
        select DISTINCT final_treatment from kf_answers_template
    </select>

    
    <select id="selectKfAnswersTemplateBySku" parameterType="String" resultMap="KfAnswersTemplateResult">
        <include refid="selectKfAnswersTemplateVo"/>
        where s_id = #{sId}
    </select>

    <insert id="insertKfAnswersTemplate" parameterType="KfAnswersTemplate">
        insert into kf_answers_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sku != null">sku,</if>
            <if test="preQuestions != null">pre_questions,</if>
            <if test="preResponse != null">pre_response,</if>
            <if test="preAskTime != null">pre_ask_time,</if>
            <if test="afterQuestions != null">after_questions,</if>
            <if test="afterResponse != null">after_response,</if>
            <if test="afterAskTime != null">after_ask_time,</if>
            <if test="supplierResponse != null">supplier_response,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="listingId != null">listing_id,</if>
            <if test="storeId != null">store_id,</if>
            <if test="typeQuestion != null">type_question,</if>
            <if test="recorders != null">recorders,</if>
            <if test="expectResults != null">expect_results,</if>
            <if test="expectTime != null">expect_time,</if>
            <if test="processors != null">processors,</if>
            <if test="proceStatus != null">proce_status,</if>
            <if test="finalTreatment != null">final_treatment,</if>
            <if test="remark1 != null">remark1,</if>
            <if test="remark2 != null">remark2,</if>
            <if test="standardResponses != null">standard_responses,</if>
            <if test="productType != null">product_type,</if>
            <if test="createBy != null">create_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sku != null">#{sku},</if>
            <if test="preQuestions != null">#{preQuestions},</if>
            <if test="preResponse != null">#{preResponse},</if>
            <if test="preAskTime != null">#{preAskTime},</if>
            <if test="afterQuestions != null">#{afterQuestions},</if>
            <if test="afterResponse != null">#{afterResponse},</if>
            <if test="afterAskTime != null">#{afterAskTime},</if>
            <if test="supplierResponse != null">#{supplierResponse},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="listingId != null">#{listingId},</if>
            <if test="storeId != null">#{storeId},</if>
            <if test="typeQuestion != null">#{typeQuestion},</if>
            <if test="recorders != null">#{recorders},</if>
            <if test="expectResults != null">#{expectResults},</if>
            <if test="expectTime != null">#{expectTime},</if>
            <if test="processors != null">#{processors},</if>
            <if test="proceStatus != null">#{proceStatus},</if>
            <if test="finalTreatment != null">#{finalTreatment},</if>
            <if test="remark1 != null">#{remark1},</if>
            <if test="remark2 != null">#{remark2},</if>
            <if test="standardResponses != null">#{standardResponses},</if>
            <if test="productType != null">#{productType},</if>
            <if test="createBy != null">create_by,</if>
         </trim>
    </insert>

    <update id="updateKfAnswersTemplate" parameterType="KfAnswersTemplate">
        update kf_answers_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="preQuestions != null">pre_questions = #{preQuestions},</if>
            <if test="preResponse != null">pre_response = #{preResponse},</if>
            <if test="preAskTime != null">pre_ask_time = #{preAskTime},</if>
            <if test="afterQuestions != null">after_questions = #{afterQuestions},</if>
            <if test="afterResponse != null">after_response = #{afterResponse},</if>
            <if test="afterAskTime != null">after_ask_time = #{afterAskTime},</if>
            <if test="supplierResponse != null">supplier_response = #{supplierResponse},</if>
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="listingId != null">listing_id = #{listingId},</if>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="typeQuestion != null">type_question = #{typeQuestion},</if>
            <if test="recorders != null">recorders = #{recorders},</if>
            <if test="expectResults != null">expect_results = #{expectResults},</if>
            <if test="expectTime != null">expect_time = #{expectTime},</if>
            <if test="processors != null">processors = #{processors},</if>
            <if test="proceStatus != null">proce_status = #{proceStatus},</if>
            <if test="finalTreatment != null">final_treatment = #{finalTreatment},</if>
            <if test="remark1 != null">remark1 = #{remark1},</if>
            <if test="remark2 != null">remark2 = #{remark2},</if>
            <if test="standardResponses != null">standard_responses = #{standardResponses},</if>
            <if test="productType != null">product_type = #{productType},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where s_id = #{sId}
    </update>

    <delete id="deleteKfAnswersTemplateBySku" parameterType="String">
        delete from kf_answers_template where sku = #{sku}
    </delete>

    <delete id="deleteKfAnswersTemplateBySkus" parameterType="String">
        delete from kf_answers_template where sku in 
        <foreach item="sku" collection="array" open="(" separator="," close=")">
            #{sku}
        </foreach>
    </delete>


    <select id="selectUserOptions" resultMap="UserOptionsResult">
        select DISTINCT nick_name,user_id from sys_user
    </select>

</mapper>