<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.kingdee.mapper.KingdeeProductInfoMapper">
    
    <resultMap type="KingdeeProductInfo" id="KingdeeProductInfoResult">
        <result property="rk"    column="rk"    />
        <result property="fseq"    column="fseq"    />
        <result property="barcode"    column="barcode"    />
        <result property="url"    column="url"    />
        <result property="number"    column="number"    />
        <result property="name"    column="name"    />
        <result property="costprice"    column="costprice"    />
        <result property="purchaseprice"    column="purchaseprice"    />
        <result property="retailprice"    column="retailprice"    />
        <result property="saleprice4"    column="saleprice4"    />
        <result property="saleprice5"    column="saleprice5"    />
        <result property="saleprice6"    column="saleprice6"    />
        <result property="saleprice7"    column="saleprice7"    />
        <result property="saleprice8"    column="saleprice8"    />
        <result property="saleprice9"    column="saleprice9"    />
        <result property="saleprice10"    column="saleprice10"    />
        <result property="qtyinv"    column="qtyinv"    />
        <result property="ispurchase"    column="ispurchase"    />
        <result property="issale"    column="issale"    />
        <result property="isassembly"    column="isassembly"    />
        <result property="isbackflushed"    column="isbackflushed"    />
        <result property="isoutsource"    column="isoutsource"    />
        <result property="isselfrestraint"    column="isselfrestraint"    />
        <result property="issubpart"    column="issubpart"    />
        <result property="isweight"    column="isweight"    />
        <result property="maxpurchaseprice"    column="maxpurchaseprice"    />
        <result property="costmethod"    column="costmethod"    />
        <result property="intaxrate"    column="intaxrate"    />
        <result property="cprop"    column="cprop"    />
        <result property="parentName"    column="parent_name"    />
        <result property="backflushedSpaceidName"    column="backflushed_spaceid_name"    />
        <result property="backflushedStockidName"    column="backflushed_stockid_name"    />
        <result property="spaceidName"    column="spaceid_name"    />
        <result property="s"    column="s"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectKingdeeProductInfoVo">
        select rk, fseq, barcode, url, number, name, costprice, purchaseprice, retailprice, saleprice4, saleprice5, saleprice6, saleprice7, saleprice8, saleprice9, saleprice10, qtyinv, ispurchase, issale, isassembly, isbackflushed, isoutsource, isselfrestraint, issubpart, isweight, maxpurchaseprice, costmethod, intaxrate, cprop, parent_name, backflushed_spaceid_name, backflushed_stockid_name, spaceid_name, s, created_at from kingdee_product_info
    </sql>

    <select id="selectKingdeeProductInfoList" parameterType="KingdeeProductInfo" resultMap="KingdeeProductInfoResult">
        <include refid="selectKingdeeProductInfoVo"/>
        <where>  
            <if test="rk != null "> and rk = #{rk}</if>
            <if test="fseq != null "> and fseq = #{fseq}</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="number != null  and number != ''"> and number like concat('%', #{number}, '%')</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="costprice != null "> and costprice = #{costprice}</if>
            <if test="purchaseprice != null "> and purchaseprice = #{purchaseprice}</if>
            <if test="retailprice != null "> and retailprice = #{retailprice}</if>
            <if test="params.beginQtyinv != null and params.beginQtyinv != '' and params.endQtyinv != null and params.endQtyinv != ''"> and qtyinv between #{params.beginQtyinv} and #{params.endQtyinv}</if>
            <if test="parentName != null  and parentName != ''"> and parent_name like concat('%', #{parentName}, '%')</if>
        </where>
    </select>
    
    <select id="selectKingdeeProductInfoByRk" parameterType="Long" resultMap="KingdeeProductInfoResult">
        <include refid="selectKingdeeProductInfoVo"/>
        where rk = #{rk}
    </select>

    <insert id="insertKingdeeProductInfo" parameterType="KingdeeProductInfo">
        insert into kingdee_product_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rk != null">rk,</if>
            <if test="fseq != null">fseq,</if>
            <if test="barcode != null">barcode,</if>
            <if test="url != null">url,</if>
            <if test="number != null">number,</if>
            <if test="name != null">name,</if>
            <if test="costprice != null">costprice,</if>
            <if test="purchaseprice != null">purchaseprice,</if>
            <if test="retailprice != null">retailprice,</if>
            <if test="saleprice4 != null">saleprice4,</if>
            <if test="saleprice5 != null">saleprice5,</if>
            <if test="saleprice6 != null">saleprice6,</if>
            <if test="saleprice7 != null">saleprice7,</if>
            <if test="saleprice8 != null">saleprice8,</if>
            <if test="saleprice9 != null">saleprice9,</if>
            <if test="saleprice10 != null">saleprice10,</if>
            <if test="qtyinv != null">qtyinv,</if>
            <if test="ispurchase != null">ispurchase,</if>
            <if test="issale != null">issale,</if>
            <if test="isassembly != null">isassembly,</if>
            <if test="isbackflushed != null">isbackflushed,</if>
            <if test="isoutsource != null">isoutsource,</if>
            <if test="isselfrestraint != null">isselfrestraint,</if>
            <if test="issubpart != null">issubpart,</if>
            <if test="isweight != null">isweight,</if>
            <if test="maxpurchaseprice != null">maxpurchaseprice,</if>
            <if test="costmethod != null">costmethod,</if>
            <if test="intaxrate != null">intaxrate,</if>
            <if test="cprop != null">cprop,</if>
            <if test="parentName != null">parent_name,</if>
            <if test="backflushedSpaceidName != null">backflushed_spaceid_name,</if>
            <if test="backflushedStockidName != null">backflushed_stockid_name,</if>
            <if test="spaceidName != null">spaceid_name,</if>
            <if test="s != null">s,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rk != null">#{rk},</if>
            <if test="fseq != null">#{fseq},</if>
            <if test="barcode != null">#{barcode},</if>
            <if test="url != null">#{url},</if>
            <if test="number != null">#{number},</if>
            <if test="name != null">#{name},</if>
            <if test="costprice != null">#{costprice},</if>
            <if test="purchaseprice != null">#{purchaseprice},</if>
            <if test="retailprice != null">#{retailprice},</if>
            <if test="saleprice4 != null">#{saleprice4},</if>
            <if test="saleprice5 != null">#{saleprice5},</if>
            <if test="saleprice6 != null">#{saleprice6},</if>
            <if test="saleprice7 != null">#{saleprice7},</if>
            <if test="saleprice8 != null">#{saleprice8},</if>
            <if test="saleprice9 != null">#{saleprice9},</if>
            <if test="saleprice10 != null">#{saleprice10},</if>
            <if test="qtyinv != null">#{qtyinv},</if>
            <if test="ispurchase != null">#{ispurchase},</if>
            <if test="issale != null">#{issale},</if>
            <if test="isassembly != null">#{isassembly},</if>
            <if test="isbackflushed != null">#{isbackflushed},</if>
            <if test="isoutsource != null">#{isoutsource},</if>
            <if test="isselfrestraint != null">#{isselfrestraint},</if>
            <if test="issubpart != null">#{issubpart},</if>
            <if test="isweight != null">#{isweight},</if>
            <if test="maxpurchaseprice != null">#{maxpurchaseprice},</if>
            <if test="costmethod != null">#{costmethod},</if>
            <if test="intaxrate != null">#{intaxrate},</if>
            <if test="cprop != null">#{cprop},</if>
            <if test="parentName != null">#{parentName},</if>
            <if test="backflushedSpaceidName != null">#{backflushedSpaceidName},</if>
            <if test="backflushedStockidName != null">#{backflushedStockidName},</if>
            <if test="spaceidName != null">#{spaceidName},</if>
            <if test="s != null">#{s},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="updateKingdeeProductInfo" parameterType="KingdeeProductInfo">
        update kingdee_product_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="fseq != null">fseq = #{fseq},</if>
            <if test="barcode != null">barcode = #{barcode},</if>
            <if test="url != null">url = #{url},</if>
            <if test="number != null">number = #{number},</if>
            <if test="name != null">name = #{name},</if>
            <if test="costprice != null">costprice = #{costprice},</if>
            <if test="purchaseprice != null">purchaseprice = #{purchaseprice},</if>
            <if test="retailprice != null">retailprice = #{retailprice},</if>
            <if test="saleprice4 != null">saleprice4 = #{saleprice4},</if>
            <if test="saleprice5 != null">saleprice5 = #{saleprice5},</if>
            <if test="saleprice6 != null">saleprice6 = #{saleprice6},</if>
            <if test="saleprice7 != null">saleprice7 = #{saleprice7},</if>
            <if test="saleprice8 != null">saleprice8 = #{saleprice8},</if>
            <if test="saleprice9 != null">saleprice9 = #{saleprice9},</if>
            <if test="saleprice10 != null">saleprice10 = #{saleprice10},</if>
            <if test="qtyinv != null">qtyinv = #{qtyinv},</if>
            <if test="ispurchase != null">ispurchase = #{ispurchase},</if>
            <if test="issale != null">issale = #{issale},</if>
            <if test="isassembly != null">isassembly = #{isassembly},</if>
            <if test="isbackflushed != null">isbackflushed = #{isbackflushed},</if>
            <if test="isoutsource != null">isoutsource = #{isoutsource},</if>
            <if test="isselfrestraint != null">isselfrestraint = #{isselfrestraint},</if>
            <if test="issubpart != null">issubpart = #{issubpart},</if>
            <if test="isweight != null">isweight = #{isweight},</if>
            <if test="maxpurchaseprice != null">maxpurchaseprice = #{maxpurchaseprice},</if>
            <if test="costmethod != null">costmethod = #{costmethod},</if>
            <if test="intaxrate != null">intaxrate = #{intaxrate},</if>
            <if test="cprop != null">cprop = #{cprop},</if>
            <if test="parentName != null">parent_name = #{parentName},</if>
            <if test="backflushedSpaceidName != null">backflushed_spaceid_name = #{backflushedSpaceidName},</if>
            <if test="backflushedStockidName != null">backflushed_stockid_name = #{backflushedStockidName},</if>
            <if test="spaceidName != null">spaceid_name = #{spaceidName},</if>
            <if test="s != null">s = #{s},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where rk = #{rk}
    </update>

    <delete id="deleteKingdeeProductInfoByRk" parameterType="Long">
        delete from kingdee_product_info where rk = #{rk}
    </delete>

    <delete id="deleteKingdeeProductInfoByRks" parameterType="String">
        delete from kingdee_product_info where rk in 
        <foreach item="rk" collection="array" open="(" separator="," close=")">
            #{rk}
        </foreach>
    </delete>
</mapper>