<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.amazon.mapper.AmzSearchTemplateMapper">
    
    <resultMap type="AmzSearchTemplate" id="AmzSearchTemplateResult">
        <result property="id"    column="id"    />
        <result property="templateName"    column="template_name"    />
        <result property="templateContent"    column="template_content"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectAmzSearchTemplateVo">
        select id, template_name, template_content, create_by, create_time, update_by, update_time, del_flag from amz_search_template
    </sql>

    <select id="selectAmzSearchTemplateList" parameterType="AmzSearchTemplate" resultMap="AmzSearchTemplateResult">
        <include refid="selectAmzSearchTemplateVo"/>
        <where>
            del_flag = 0
            <if test="templateName != null  and templateName != ''"> and template_name like concat('%', #{templateName}, '%')</if>
            <if test="templateContent != null  and templateContent != ''"> and template_content = #{templateContent}</if>
        </where>
    </select>
    
    <select id="selectAmzSearchTemplateById" parameterType="Long" resultMap="AmzSearchTemplateResult">
        <include refid="selectAmzSearchTemplateVo"/>
        where id = #{id}
    </select>

    <insert id="insertAmzSearchTemplate" parameterType="AmzSearchTemplate" useGeneratedKeys="true" keyProperty="id">
        insert into amz_search_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateName != null and templateName != ''">template_name,</if>
            <if test="templateContent != null">template_content,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateName != null and templateName != ''">#{templateName},</if>
            <if test="templateContent != null">#{templateContent},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateAmzSearchTemplate" parameterType="AmzSearchTemplate">
        update amz_search_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="templateName != null and templateName != ''">template_name = #{templateName},</if>
            <if test="templateContent != null">template_content = #{templateContent},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAmzSearchTemplateById" parameterType="Long">
        update amz_search_template set del_flag = 1 where id = #{id}
    </delete>

    <delete id="deleteAmzSearchTemplateByIds" parameterType="String">
        delete from amz_search_template where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>