<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.price_ratings.mapper.PriceRatingsMapper">
    
    <resultMap type="PriceRatings" id="PriceRatingsResult">
        <result property="id"    column="id"    />
        <result property="onlineDataId"    column="online_data_id"    />
        <result property="listingId"    column="listing_id"    />
        <result property="price"    column="price"    />
        <result property="rating"    column="rating"    />
    </resultMap>

    <sql id="selectPriceRatingsVo">
        select id, online_data_id, listing_id, price, rating from price_ratings
    </sql>

    <select id="selectPriceRatingsList" parameterType="PriceRatings" resultMap="PriceRatingsResult">
        <include refid="selectPriceRatingsVo"/>
        <where>  
            <if test="onlineDataId != null "> and online_data_id = #{onlineDataId}</if>
            <if test="listingId != null  and listingId != ''"> and listing_id = #{listingId}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="rating != null "> and rating = #{rating}</if>
        </where>
    </select>
    
    <select id="selectPriceRatingsById" parameterType="Long" resultMap="PriceRatingsResult">
        <include refid="selectPriceRatingsVo"/>
        where id = #{id}
    </select>

    <insert id="insertPriceRatings" parameterType="PriceRatings" useGeneratedKeys="true" keyProperty="id">
        insert into price_ratings
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="onlineDataId != null">online_data_id,</if>
            <if test="listingId != null">listing_id,</if>
            <if test="price != null">price,</if>
            <if test="rating != null">rating,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="onlineDataId != null">#{onlineDataId},</if>
            <if test="listingId != null">#{listingId},</if>
            <if test="price != null">#{price},</if>
            <if test="rating != null">#{rating},</if>
         </trim>
    </insert>

    <update id="updatePriceRatings" parameterType="PriceRatings">
        update price_ratings
        <trim prefix="SET" suffixOverrides=",">
            <if test="onlineDataId != null">online_data_id = #{onlineDataId},</if>
            <if test="listingId != null">listing_id = #{listingId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="rating != null">rating = #{rating},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePriceRatingsById" parameterType="Long">
        delete from price_ratings where id = #{id}
    </delete>

    <delete id="deletePriceRatingsByIds" parameterType="String">
        delete from price_ratings where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>